<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the MVC module to create</string>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>Module Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Model</string>
			<key>Description</key>
			<string>The model file name</string>
			<key>Identifier</key>
			<string>modelFileName</string>
			<key>Name</key>
			<string>Model File Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___View</string>
			<key>Description</key>
			<string>The view file name</string>
			<key>Identifier</key>
			<string>viewFileName</string>
			<key>Name</key>
			<string>View File Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___ViewController</string>
			<key>Description</key>
			<string>The view controller file name</string>
			<key>Identifier</key>
			<string>viewControllerFileName</string>
			<key>Name</key>
			<string>View Controller File Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Builder</string>
			<key>Description</key>
			<string>The builder file name</string>
			<key>Identifier</key>
			<string>builderFileName</string>
			<key>Name</key>
			<string>Builder File Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>AllowedTypes</key>
	<array>
		<string>public.folder</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>MyModule</string>
	<key>Description</key>
	<string>This MVC V3 Swift 5.2 template provides all the boilerplate code needed for iOS MVC module. Template version 1.0</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>0</string>
	<key>Summary</key>
	<string>iOS MVC V3 Swift 5.2 Template</string>
</dict>
</plist>
